[Unit]
Description=Ollama service
After=network-online.target

[Service]
ExecStart=/usr/bin/ollama serve
User=ollama
Group=ollama
Restart=always
RestartSec=3
Environment="OLLAMA_MODELS=/media/one/models/"
Environment="OLLAMA_TMPDIR=/tmp"
Environment="OLLAMA_MULTIUSER_CACHE=true"
Environment="OLLAMA_FLASH_ATTENTION=true"
Environment="OLLAMA_SCHED_SPREAD=true"

[Install]
WantedBy=default.target

