# go
https://src.fedoraproject.org/rpms/syncthing
https://src.fedoraproject.org/rpms/golang-github-nvidia-container-toolkit

# one way of install systemd service (manual)
# install systemd units
```bash
%post
%systemd_post 'syncthing@.service'
%systemd_user_post syncthing.service

%preun
%systemd_preun 'syncthing@*.service'
%systemd_user_preun syncthing.service

%postun
%systemd_postun_with_restart 'syncthing@*.service'
%systemd_user_postun_with_restart syncthing.service

mkdir -p %{buildroot}/%{_unitdir}
mkdir -p %{buildroot}/%{_userunitdir}

cp -pav etc/linux-systemd/system/syncthing@.service %{buildroot}/%{_unitdir}/
cp -pav etc/linux-systemd/user/syncthing.service %{buildroot}/%{_userunitdir}/
```
# c
https://src.fedoraproject.org/rpms/glibc
https://pagure.io/glibc-maintainer-scripts
